<button class="back" style="font-size:24px" type="button" (click)="back()"><i class="fas fa-home"></i>Back </button>
<h1>{{movieDetail.title}}</h1>
<div class="row summary">
    <div class="col-sm-4">
        <img src="{{movieDetail.poster}}">
    </div>
    <div class="col-sm-8"><b>Summary:</b> {{movieDetail.summary}}</div>
</div>

<p>Details</p>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Box office</th>
            <td>{{movieDetail.box_office | customCurrency}}</td>
        </tr>
        <tr>
            <th>Budget</th>
            <td>{{movieDetail.budget | customCurrency}}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{movieDetail.duration | hours}}</td>
        </tr>
        <tr>
            <th>Producers</th>
            <td>{{movieDetail.producers}}</td>
        </tr>
        <tr>
            <th>cinematographers</th>
            <td>{{movieDetail.cinematographers}}</td>
        </tr>
    </tbody>
</table>